MYSQL_IMAGE=docker.m.daocloud.io/library/mysql:8.0.36
REDIS_IMAGE=docker.m.daocloud.io/library/redis:7.2-alpine
CHROMA_IMAGE=m.daocloud.io/ghcr.io/chroma-core/chroma:0.5.23
PROMETHEUS_IMAGE=docker.m.daocloud.io/prom/prometheus:v2.52.0
GRAFANA_IMAGE=docker.m.daocloud.io/grafana/grafana:10.4.2
KAFKA_IMAGE=docker.m.daocloud.io/apache/kafka:3.7.0
KAFKA_PORT=9092
