MYSQL_PORT=3307
CHROMA_PORT=8000
KAFKA_PORT=9092
OLLAMA_PORT=11434

MYSQL_IMAGE=mysql:8.0.36
REDIS_IMAGE=redis:7.2-alpine
CHROMA_IMAGE=chromadb/chroma:0.5.23
PROMETHEUS_IMAGE=prom/prometheus:v2.52.0
GRAFANA_IMAGE=grafana/grafana:10.4.2
KAFKA_IMAGE=docker.m.daocloud.io/apache/kafka:3.7.0
OLLAMA_IMAGE=ollama/ollama:latest

TRACING_SAMPLING_PROBABILITY=0
OTLP_TRACES_ENDPOINT=http://127.0.0.1:4318/v1/traces

# Ollama配置
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_EMBEDDING_MODEL=bge-m3
OLLAMA_CHAT_MODEL_SMALL=qwen3.5:0.8b
OLLAMA_CHAT_MODEL_MEDIUM=qwen3.5:2b
OLLAMA_CHAT_MODEL_LARGE=qwen3.5:4b

